{% from 'components/_autocomplete_field.html' import render_autocomplete_field %}
{% macro render_icd_autocomplete(
	mode, input_id, tags_id, list_id, root_id='', container_id='', dropdown_id='',
	root_class='', container_class='', tags_class='', input_class='form-control',
	input_name='', placeholder='', aria_label='', dropdown_class='', list_class=''
) -%}
{{ render_autocomplete_field(
	input_id=input_id, tags_id=tags_id, list_id=list_id, root_id=root_id,
	container_id=container_id, dropdown_id=dropdown_id,
	root_class='icd-autocomplete ' ~ root_class,
	container_class='icd-input-container ' ~ container_class,
	tags_class='selected-icd-tags ' ~ tags_class, input_class=input_class,
	input_name=input_name, placeholder=placeholder, aria_label=aria_label,
	dropdown_class=dropdown_class, list_class=list_class,
	root_attrs={'data-icd-autocomplete': '', 'data-icd-mode': mode},
	input_attrs={'data-icd-autocomplete-input': ''},
	tags_attrs={'data-icd-autocomplete-tags': ''},
	dropdown_attrs={'data-icd-autocomplete-dropdown': ''},
	list_attrs={'data-icd-autocomplete-list': ''}
) }}
{%- endmacro %}
