<!-- Flatpickr Resources (CSS & JS) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" integrity="sha384-RkASv+6KfBMW9eknReJIJ6b3UnjKOKC5bOUaNgIY778NFbQ8MtWq9Lr/khUgqtTt" crossorigin="anonymous">

<!-- Flatpickr JS Core & Locale -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13" integrity="sha384-5JqMv4L/Xa0hfvtF06qboNdhvuYXUku9ZrhZh3bSk8VXF0A/RuSLHpLsSV9Zqhl6" crossorigin="anonymous"></script>
<script src="/static/js/flatpickr-vn.js?v={{ app_version }}"></script>

<!-- Custom Initialization Script -->
<script src="/static/js/datepicker-init.js?v={{ app_version | default('1.0') }}"></script>
